* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black; /* For browsers that do not support gradients */
  /*background-image: linear-gradient(to bottom right, black, lightblue);*/
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  height: 100vh;
}

.coffee {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 15px;
}

.img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

@media only screen and (max-width: 460px) {
  .img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .coffee {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

form {
  margin-left: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

#length {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: #ffffff 1px solid;
  margin-left: 5px;
  padding: 2px;
}

input[type="number"] {
  width: 40px;
}

.btn {
  position: relative;
  background-color: #ae07077a;
  border: none;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

#copy {
  background-color: #07ae0a7d;
  visibility: hidden;
}

.btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#password-container {
  margin-left: 10px;
  font-size: 1.3em;
}
